<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Provinsi detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/assets/style/style.css" />
    <script src="https://kit.fontawesome.com/a4093da3da.js" crossorigin="anonymous"></script>
</head>
<body class="bg-body">
<nav class="navbar navbar-expand-lg bg-nav">
    <div class="container-fluid mx-5">
        <a href="#"><img src="../public/assets/image/dumbways.png" alt="" class="h-100" width="50"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ms-lg-4 mx-sm-0">
                    <a class="nav-link active fw-bold" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item ms-lg-2 mx-sm-0">
                    <a class="nav-link" href="/">Provinsi</a>
                </li>
                <li class="nav-item ms-lg-2 mx-sm-0">
                    <a class="nav-link" href="kabupaten">Kabupaten</a>
                </li>
                <li class="nav-item ms-lg-2 mx-sm-0">
                    <a class="nav-link" href="add-provinsi">Add Provinsi</a>
                </li>
                <li class="nav-item ms-lg-2 mx-sm-0">
                    <a class="nav-link" href="add-kabupaten">Add Kabupaten</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" id="project-detail">
    <h1 class="text-center my-3">{{provinsi.nama}}</h1>
    <div class="container" style="width: 90vw">
        <div class="row">
            <div class="col">
                <img src="/uploads/{{provinsi.photo}}" alt="" id="detail-image-project" class="img-fluid">
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Diresmikan : {{provinsi.diresmikan}}</h3>
                            <h3>Pulau : {{provinsi.pulau}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>